body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: rgb(213, 226, 231);
    color: rgb(10, 1, 80);
    margin: 15pt;
  }
  
  h1 {
    font-size: 20pt;
    color: #120076;
  }

  h2 {
    font-size: 18pt;
    color: rgb(0, 0, 158);
  }

  h3 {
    font-size: 16pt;
    color: #1800cd;
  }

  a:link {
    color: #ffffff;
    text-decoration: none;
  }

  a:visited {
    color:#6f6f6f;
    text-decoration: none;
  }

  a:active {
    color: #ffffff;
    text-decoration: none;
  }

  a.courselink:active {
    color: #2c2c2c;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
  }

  p {
    font-size: 12px;
    color: #414141;
  }

  .UniLeeds {
    padding: 1%;
    border: 2pt solid #000000;
    box-sizing: border-box;
    background-color: rgb(194, 226, 255);
    margin-left: -10pt;
  }

  .course-highlights {
    display: table;
    width: 100%;
    margin-top: 3pt;
    border-collapse: collapse;
  }

  .courses {
    display: table-row;
  }

  .course-code {
    display: table-cell;
    font-weight: bold;
    padding: 3pt;
    border: 2px solid #000000;
    vertical-align: top;
  }

  .course-desc {
    display: table-cell;
    padding: 3pt;
    border: 2px solid #000000;
    vertical-align: top;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

  nav {
    background-color: #000000;
}

  nav ul {
    justify-content: space-around;
    display: flex;
}

  nav li {
  position: relative;
}

  nav a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

  nav a:hover {
  background-color: #555;
}

  nav ul ul {
  display: none;
  position: absolute;
  background-color: #000000;
  left: 0;
}

  nav li:hover > ul {
  display: block;
}

  nav ul ul li {
  margin: 0;
}
